#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #ffff;
  --secondary-color: #d7d9e7;
  --tertiary-color: #737a83;
  --highlight-color: #fffe04;
  --text-color: black;
  --title-font: "Staatliches", cursive;
  --title-size: 8rem;
  --subtitle-size: 1.3rem;
  --text-size: 1.2rem;
  --text-font: "Staatliches", cursive;
}

/* Navbar */
.App {
  text-align: center;
}

.nav-bg {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  width: 100%;
  font-family: var(--title-font);
  font-size: var(--subtitle-size);
}
.nav-link:hover {
  scale: 0.9;
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}

body {
  display: flex;
  flex-direction: column;
}

/* Home */
#home {
  height: 100vh;
  display: flex;
  align-content: center;
}
.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-title {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
.intro-title h1 {
  grid-column: 2 / 3;
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--title-size);
}
.greeting-img {
  max-height: 40rem;
}
.intro-text {
  display: grid;
  grid-template-columns: repeat(3, 45%);
  grid-template-rows: repeat(3, 33%);
  align-items: center;
  justify-content: center;
}
.intro-textbox {
  grid-column: 2/3;
  grid-row: 3/3;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}
.intro-text p {
  text-align: center;
  font-size: var(--text-size);
  font-family: var(--text-font);
}
.intro-text span {
  font-size: var(--text-size);
  font-family: var(--text-font);
  background-color: var(--highlight-color);
}
@media (width <= 822px) {
  .intro-text {
    grid-template-columns: 5rem auto 5rem;
    grid-template-rows: 25% 25% auto;
    margin-bottom: 2rem;
  }
}
/* Skills */
#skills {
  height: 100vh;
  display: flex;
  padding: 0 4.5rem;
  align-items: center;
}

.skills-title {
  font-family: var(--title-font);
  font-size: var(--title-size);
  text-align: center;
}
.swiper {
  margin: 0;
  width: 60%;
  aspect-ratio: 1;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

.tech-class {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding: 35px;
  margin: 1rem;
}
.tech-class h3 {
  font-size: 4rem;
  font-family: var(--title-font);
}
.tech-icons {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  align-content: space-around;
  flex-wrap: wrap;
  font-size: 6rem;
}
.html,
.git {
  cursor: pointer;
  color: orangered;
}
.css,
.jquery {
  cursor: pointer;
  color: blue;
}
.javascript,
.mysql {
  cursor: pointer;
  color: #fcbd11;
}
.react {
  cursor: pointer;
  color: rgb(55, 212, 212);
}
.bootstrap,
.heroku {
  cursor: pointer;
  color: purple;
}
.nodejs,
.mongodb {
  cursor: pointer;
  color: green;
}
.npm {
  cursor: pointer;
  color: rgb(184, 7, 7);
}
.graphql,
.jest {
  cursor: pointer;
  color: rgb(192, 28, 156);
}

@media (width <= 1012px) {
  #skills {
    flex-direction: column;
    padding: 0 1rem;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 20%;
  }
  .skills-title {
    font-size: 4rem;
  }
  .swiper {
    width: 100%;
    aspect-ratio: 1;
  }
  .tech-class h3 {
    font-size: 2.5rem;
  }
  .tech-class {
    margin: 0;
  }
  .tech-icons {
    font-size: 4rem;
  }
}

/* Background */
.area {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: -2;
}

.circles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--secondary-color);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1500px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Projects */
#projects {
  background-color: #d7d9e75b;
  height: 100vh;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#projects h1 {
  text-align: center;
  margin-top: 3.5rem;
  font-family: var(--text-font);
  font-size: var(--title-size);
}
.project-row {
  display: flex;
  gap: 7rem;
}
.project {
  display: flex;
  align-items: center;
  width: 50vw;
  max-width: 500px;
  padding: 50px 30px 50px 20px;
  margin: 3.5rem 0 3.5rem 0;
  background: #ffffff;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
}

.project img {
  max-width: 230px;
  width: 20vw;
  height: 200px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 20px rgb(0 0 0 / 8%);
}
.project-content h3 {
  color: rgb(0 0 0 / 90%);
  font-family: var(--text-font);
}
.project-content p {
  color: rgb(0 0 0 / 70%);
  font-family: var(--text-font);
}
.project button {
  font-family: var(--text-font);
  border: 0;
  background: var(--secondary-color);
  color: black;
  padding: 12px 22px;
  font-size: 14px;
  border-radius: 40px;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

@media (width <= 1199px) {
  .project {
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .project img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
  }
}

@media (width <= 991px) {
  #projects {
    height: auto;
  }
  #projects h1 {
    font-size: 4rem;
  }
  .project-row {
    flex-direction: column;
  }

  .project-row {
    gap: 0;
  }
  .projects-container h1 {
    margin-bottom: 5rem;
  }
}

/* Contact */
.contact-img {
  width: 100%;
  object-fit: contain;
  transition: 0.7s ease-in-out;
}
.outer-contact-wrapper {
  display: flex;
  justify-content: center;
  margin: 16rem 0 17rem 0;
}
.hidden-contact-img {
  width: 50%;
  object-fit: contain;
  transition: 0.5s ease-in-out;
}
.contact-form h1 {
  font-weight: bold;
  margin: 0;
  font-family: var(--text-font);
}

.overlay-panel h1 {
  text-align: center;
  font-family: var(--text-font);
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
  font-family: var(--text-font);
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

button {
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #000000;
}

.contact-form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  font-family: var(--text-font);
}

.contact-input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 4px 0;
  width: 100%;
}

.contact-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
  display: flex;
  align-content: center;
}

.contact-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.contact-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.5s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

.contact-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--secondary-color);
  background: -webkit-linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--primary-color)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #000000;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.contact-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.contact-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.contact-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
  color: black;
}

.social-container a:hover {
  background-color: var(--highlight-color);
  color: #000000;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute; */
  /* bottom: 0; */
  width: 100%;
  height: fit-content;
  padding: 3rem 0 0 0;
  font-family: var(--text-font);
  color: var(--primary-color);
  background-color: #000000;
}
footer h2 {
  font-size: 1.4rem;
  color: black;
  margin-bottom: 2rem;
  color: var(--primary-color);
  background-color: #000000;
}
.icons-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  padding-left: 0;
  margin-bottom: 2rem;
}
.footer-icon {
  font-size: 1.5rem;
}
.linkedin {
  color: var(--primary-color);
}
.github {
  color: var(--primary-color);
}
.github:hover,
.linkedin:hover {
  color: var(--highlight-color);
}
