#root {
  background-color: #e5e5e5;
  min-height: 100vh;
}
/* Navbar */
.App {
  text-align: center;
}

.nav-bgr {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: #14213d;
}
body {
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer h2 {
  font-size: 1.4rem;
}
.icons-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  padding-left: 0;
}
.footer-icon {
  color: #fca311;
  font-size: 1.5rem;
}
.footer-icon:hover {
  color: #14213d;
}
